.owl-dots {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.owl-carousel button.owl-dot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.owl-carousel button.owl-dot img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
}